<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="UrlApiSteam" value="http://api.steampowered.com"/>
    <add key="SteamApiKey" value="7CC0589DA258E2792540EDCAF588D63E"/>
    <add key="TestSteamId" value="76561198036769414"/>    
    <add key="Testing" value="true"/>

  </appSettings>
  
</configuration>
